@page
@model Drone.WebApp.Models.IndexModel
@{
   
}





<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="/img/banner-satis.jpg" alt="Ziha Satış" style="height: 90%;">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Zirai</b> Drone Satışı</h1>
                            <h3 class="h2">Zirai Drone Satış Hizmeti</h3>
                            <p>
                                Modern tarımın vazgeçilmez yardımcıları olan zirai dronlarımızla verimliliği artırın. Hassas tarım uygulamaları için geliştirilen teknolojik çözümlerimizle tarlanızın her köşesine ulaşın. Verimli hasatlar elde etmek için zirai dronlarımızı tercih edin.
                                </p>
                                <a href="/Zihalar">Zirai dronlarımıza ulaşmak için tıklayın</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="/img/banner-ilac.jpg" alt="Zirai İlaçlama" style="height: 90%;">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Drone İle</h1>
                            <h3 class="h2">İlaçlama</h3>
                            <p>
                              Drone teknolojisi, tarımsal ilaçlama alanında da büyük bir dönüşüm sağlamaktadır. İlaçlama drone'ları, tarlaların etkin ve hassas bir şekilde ilaçlanmasını sağlayarak verimliliği artırırken, kimyasal kullanımını da minimize etmektedir. Bu yenilikçi yöntem, hızlı ve etkili bir şekilde zararlı böcekleri ve hastalıkları kontrol etmemize yardımcı olur. Drone ile ilaçlama hizmetlerimizden yararlanarak tarlalarınızı koruyabilir, verimli bir şekilde hasat alabilir ve çevreye duyarlı bir tarım uygulayabilirsiniz. 
                              </p>
                            <a href="/Teklif">İlaçlama hizmetlerimiz için tıklayın</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="/img/banner-tamir.jpg" alt="Drone Teknik Servis" style="height: 90%;">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Teknik Destek</h1>
                            <h3 class="h2">Yedek Parça ve Tamir </h3>
                            <p>Drone yedek parça ve tamir hizmetlerimiz, drone sahiplerinin en iyi performansı elde etmelerini ve sorunlarını hızlı bir şekilde çözmelerini sağlar. Uzman teknisyenlerimiz, güvenilir yedek parçaları kullanarak drone'ların uzun ömürlü olmasını ve sorunsuz çalışmasını sağlar. Ayrıca, arızalanan veya hasar gören droneları onarır ve eski performanslarına kavuştururuz. Yedek parça temini, bakım ve tamir hizmetlerimizle drone sahiplerine güvenilir bir destek sunuyoruz. 

                            </p>
                             <a href="/Teklif">Teknik destek hizmetlerimiz için tıklayın</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->
<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Çözümlerimiz</h1>
            <p>
                Satış, ilaçlama ve teknik destek alanlarında uzmanlaşmış bir ekip olarak hizmet veriyoruz. En kaliteli drone ürünlerini satın alabilir, zirai ilaçlama ihtiyaçlarınızı güvenle karşılayabilir ve teknik destek ekibimizden hızlı ve etkili çözümler alabilirsiniz.

            </p>
        </div>
    </div>
   <div class="row">
  <div class="col-12 col-md-4 p-5 mt-3">
    <a href="/zihalar" class="image-link">
      <img src="/img/ziha.jpeg" class="rounded-circle img-fluid border image-hover" style="height: 180px;">
    </a>
    <h5 class="text-center mt-3 mb-3" href="/Zihalar">Zihalar</h5>
    <p class="text-center"><a href="/Zihalar" class="btn btn-success">Alışverişe Başla</a></p>
  </div>
  <div class="col-12 col-md-4 p-5 mt-3">
    <a href="/teklif" class="image-link">
      <img src="/img/ilac.jpg" class="rounded-circle img-fluid border image-hover" style="height: 180px;">
    </a>
    <h2 class="h5 text-center mt-3 mb-3">İlaçlama</h2>
    <p class="text-center"><a class="btn btn-success" href="/teklif">Teklif Alın</a></p>
  </div>
  <div class="col-12 col-md-4 p-5 mt-3">
    <a href="/teklif" class="image-link">
      <img src="/img/tamir.jpg" class="rounded-circle img-fluid border image-hover" style="height: 180px;">
    </a>
    <h2 class="h5 text-center mt-3 mb-3">Teknik Destek</h2>
    <p class="text-center"><a class="btn btn-success" href="/teklif">Bize ulaşın</a></p>
  </div>
</div>

    </div>
</section>
<!-- End Categories of The Month -->
