@using Drone.WebApp.Models

@model List<Ziha>

@{
    ViewData["Title"] = "Zihalar";
}

<section class="bg-light">
    <div class="container pb-5">
        
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img class="card-img img-fluid" src="@Model[0].Kapak" alt="Card image cap" id="product-detail">
                </div>
                <div class="row">
                  

                    
                </div>
            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2">@Model[0].Model</h1>
                        
                        <h6>Açıklama:</h6>
                        <p>@Model[0].Icerik</p>
                        <h6>Dökümanlar:</h6>
                        
                        <form action="#" method="GET">
                            <input type="hidden" name="drone_id" value="@Model[0].Drone_Id">
                            <div class="row pb-3">
                                <div class="col d-grid">
                                    <button class="btn btn-secondary btn-lg" onclick="window.open('/pdf/@(Model[0].Dokumanlar)', '_blank')">PDF Dokümanı Görüntüle</button>

                                    <a href="/teklif?drone_id=@Model[0].Drone_Id" class="btn btn-success btn-lg">Teklif Al</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
